.container {
  min-height: 100vh;
  background-color: var(--mantine-color-specialDark-7);
  display: flex;
  flex-direction: column;
  max-width: 390px;
  margin: 0 auto;
  position: relative;
}

.header {
  background-color: var(--mantine-color-specialDark-7);
  padding-top: 1rem;
}

.content {
  flex: 1;
  padding: 0;
  width: 100%;
}

.lightSection {
  background-color: var(--mantine-color-gray-0);
  /* border-radius: 24px 24px 0 0; */
  border-top-left-radius: var(--mantine-radius-xl);
  border-top-right-radius: var(--mantine-radius-xl);
  padding-top: var(--mantine-spacing-sm);
  padding-bottom: var(--mantine-spacing-lg);
}

.calendarBox {
  background-color: var(--mantine-primary-color-6);
  border-radius: var(--mantine-radius-sm);
  padding: 4px;
  min-width: 56px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bottomNav {
  background-color: white;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
  padding: 0.75rem 0 0.5rem 0;
  position: sticky;
  bottom: 0;
  width: 100%;
  max-width: 390px;
  margin: 0 auto;
}

.navItem {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  position: relative;
  padding: 0.5rem 0;
}

.navItem:hover {
  opacity: 0.8;
}

.activeIndicator {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  height: 6px;
  background-color: #1e1f1f;
  border-radius: 100px;
}
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@200..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:wght@100..900&family=Rubik:wght@300..900&family=Sora:wght@100..800&display=swap');
