/* Primary actionIcon styles */
[data-mantine-color-scheme='light'] .actionIcon[data-variant='filled']:hover {
  background-color: var(--mantine-primary-color-5) !important;
}
[data-mantine-color-scheme='dark'] .actionIcon[data-variant='filled']:hover {
  background-color: var(--mantine-primary-color-5) !important;
}
/* Outline actionIcon styles */
[data-mantine-color-scheme='light'] .actionIcon[data-variant='outline'] {
  color: var(--mantine-color-text);
  border: 2px solid var(--mantine-primary-color-4);
}
[data-mantine-color-scheme='dark'] .actionIcon[data-variant='outline'] {
  color: var(--mantine-color-gray-0);
  border: 2px solid var(--mantine-primary-color-4);
}
[data-mantine-color-scheme='light'] .actionIcon[data-variant='outline']:hover {
  background-color: var(--mantine-primary-color-1) !important;
}
[data-mantine-color-scheme='dark'] .actionIcon[data-variant='outline']:hover {
  background-color: var(--mantine-color-cadet-4) !important;
}
[data-mantine-color-scheme='light'] .actionIcon[data-variant='outline']:focus-visible {
  border: 2px solid var(--mantine-color-idexx-blue-4);
}
[data-mantine-color-scheme='dark'] .actionIcon[data-variant='outline']:focus-visible {
  border: 2px solid var(--mantine-color-idexx-blue-4);
}

/* default actionIcon styles */
[data-mantine-color-scheme='light'] .actionIcon[data-variant='default'] {
  color: var(--mantine-color-text);
  border: 2px solid var(--mantine-color-gray-6);
  background: transparent;
}
[data-mantine-color-scheme='dark'] .actionIcon[data-variant='default'] {
  color: var(--mantine-color-gray-0);
  border: 2px solid var(--mantine-color-dark-4);
  background: transparent;
}
[data-mantine-color-scheme='light'] .actionIcon[data-variant='default']:hover,
[data-mantine-color-scheme='light'] .actionIcon[data-variant='default']:active {
  border: 2px solid var(--mantine-color-gray-4);
  background: var(--mantine-color-gray-4);
}
[data-mantine-color-scheme='dark'] .actionIcon[data-variant='default']:hover,
[data-mantine-color-scheme='dark'] .actionIcon[data-variant='default']:active {
  border: 2px solid var(--mantine-color-dark-5);
  background: var(--mantine-color-dark-5);
}
[data-mantine-color-scheme='light'] .actionIcon[data-variant='default']:focus-visible {
  border: 2px solid var(--mantine-color-idexx-blue-4);
}
[data-mantine-color-scheme='dark'] .actionIcon[data-variant='default']:focus-visible {
  border: 2px solid var(--mantine-color-idexx-blue-4);
}

/* Subtle actionIcon styles */
[data-mantine-color-scheme='light'] .actionIcon[data-variant='subtle'] {
  font-weight: 400;
}
[data-mantine-color-scheme='dark'] .actionIcon[data-variant='subtle'] {
  font-weight: 400;
  color: var(--mantine-color-idexx-blue-3);
}
[data-mantine-color-scheme='light'] .actionIcon[data-variant='subtle']:hover {
  background: transparent !important;
}
[data-mantine-color-scheme='dark'] .actionIcon[data-variant='subtle']:hover {
  background: transparent !important;
}
[data-mantine-color-scheme='light'] .actionIcon[data-variant='subtle']:active {
  background: var(--mantine-primary-color-1) !important;
}
[data-mantine-color-scheme='dark'] .actionIcon[data-variant='subtle']:active {
  background: var(--mantine-color-cadet-4) !important;
}
.actionIcon[data-variant='subtle']:hover {
  text-decoration: underline !important;
}
